.light {
  background-color: #f2f2f2;
  color: black;
}

.light .expense-table th {
  padding: 12px 15px;
}

.light .edit-button {
  background-color: #ffc107;
  border: none;
  margin-right: 5px;
}

.light .delete-button {
  background-color: #dc3545;
  border: none;
}

.light .total-amount {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.light .premium-button {
  background-color: #007bff;
  border: none;
  margin-top: 10px;
}

.light .csv-button {
  background-color: #28a745;
  border: none;
  margin-top: 10px;
  margin-left: 10px;
}

.dark {
  background: #222;
  ;
  color: white;
}

.dark .expense-table th {

  padding: 12px 15px;
}

.dark .edit-button {
  background-color: #ffd700;
  border: none;
  margin-right: 5px;
}

.dark .delete-button {
  background-color: #ff4444;
  border: none;
}

.dark .total-amount {
  margin-top: 20px;
  font-size: 24px;

}